@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// *************************************************
// ************Common Properties Starts*************
// *************************************************

// Color Variables
$c0: #040932;
$c1: #040a3d;
$c2: #061058;
$c3: #0a0769;
$c4: #7c77ba;
$c5: #feb9d3;
$c6: #faebe7;
$c7: #77caec;
$c8: #5e8ce9;
$c9: #783bfd;
$c10: #5e36f7;
$c11: #3830ef;
$c12: #0f1243;
$c13: #ffd84d;
$c14: #05daa3;

// Resets
p {
  margin: 0;
}

.rc-progress-line {
  border-radius: 10px;
}

.no-padding {
  padding: 0 !important;
}

.rc-progress-line-trail {
  stroke: rgba(217, 217, 217, 0.1);
}

// Status Colors
$sWarning: #ffa502;
$sDanger: #ef321f;
$sSuccess: #16a716;
$sInfo: #0a2edc;

// Greyscales
$gs0: #ffffff;

// Breakpoints
$small-device: 768px;

// Text Styles
.largeHeading {
  font-size: 60px;
  font-weight: 800;
  color: $gs0;

  @media only screen and (max-width: $small-device) {
    font-size: 34px;
  }
}

.paragraph {
  font-size: 12px;
  color: $gs0;
}

.gs0Para {
  font-size: 12px;
  color: $gs0;
  font-weight: 100;
}

.c5Para {
  font-size: 12px;
  color: $c5;
  font-weight: 200;
}

h2 {
  font-size: 30px;
  color: $gs0;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  color: $gs0;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  color: $gs0;
  font-weight: 200;
}

h5 {
  font-size: 16px;
  color: $gs0;
  font-weight: 200;
}

h6 {
  font-size: 14px;
  color: $gs0;
  font-weight: 300;
}

// Button Styles
.primaryCTA {
  background-color: $c11;
  color: $gs0;
  padding: 10px 30px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.primaryCTA:focus {
  color: $gs0;
  border: 0 solid;
  outline: none;
}

.primaryCTA:hover {
  color: $gs0;
  transform: scale(1.1);
}

.whiteCTA-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 30px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.whiteCTA-outline:hover {
  color: $gs0;
  transform: scale(1.1);
}

// Tags
.tag {
  padding: 5px 10px;
  border-radius: 10px;
  color: $c1;
}

// Body reset
body {
  background-color: #040932 !important;
  background-image: url(../images/worldmap.svg) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  font-family: 'Roboto', sans-serif !important;
  background-attachment: fixed !important;
  background-size: 80% !important;
  background-blend-mode: color-burn !important;
}

// *************************************************
// ****************** Animation*********************
// *************************************************

.blinking {
  transform: scale(1);
  animation: blinkingText 2s infinite;
  transition-timing-function: ease;
}

@keyframes blinkingText {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

// *************************************************
// ****************** Animation*********************
// *************************************************

// *************************************************
// ************Common Properties Ends***************
// *************************************************

//**********************************
// Components Starts here
//**********************************

// Main header component starts here
.mainHeader {
  margin-top: 20px;

  .virusMainStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .liveUpdates {
      width: 10px;
      height: 10px;
      background: $c0;
      border-radius: 40px;
      margin-right: 5px;
    }

    ul {
      display: flex;
      margin-bottom: 0;
      align-items: center;
      justify-content: flex-end;

      li {
        list-style-type: none;
        margin-left: -25px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .virusType {
      border-radius: 6px;
      color: $c0;
      background-color: $c5;
      padding: 4px 14px 4px 13px;
      font-weight: 800;
      z-index: 1;
    }

    .vaccineStatus {
      background: $c4;
      padding: 4px 20px 4px 40px;
      border-radius: 6px;
      font-weight: 800;
      color: $gs0;
      z-index: 0;
    }

    .treatmentStatus {
      background: $sWarning;
    }
  }

  @media only screen and (max-width: $small-device) {
    .virusMainStatus {
      font-size: 12px;
      float: left;

      ul {
        padding: 0;

        li {
          margin-left: 0;
        }

        li:not(:first-child) {
          white-space: nowrap;
          margin-left: -25px;
        }
      }
    }
    & {
      margin-top: 40px;
    }
  }
  .discontinue {
    color: white;
  }
}

@media only screen and (min-width: $small-device) {
  .ui.dropdown .menu > .item:first-child {
    display: none !important;
  }
}

.fade {
  opacity: 0.7;
  background: white;
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 3vw;
  z-index: 1;
  border-radius: 20px;
  font-size: 1em;
}

.ui.dropdown .menu {
  right: 0 !important;
  left: auto !important;
}

.shareButton {
  background-color: $c14;
  padding: 4px 10px;
  color: $c0;
  border-radius: 6px;
  margin-left: 10px;

  .icon {
    float: left;
  }

  .menu {
    padding: 12px 0 !important;
  }

  .menu {
    .item {
      display: flex !important;
    }

    &::after {
      display: none !important;
    }
  }
}

// Main header component ends here

.homePage {
  .firstFold {
    margin-top: 10px;

    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      color: $c4;
    }

    .mainSimpleTracker {
      margin-top: 60px;
      margin-bottom: 120px;
    }

    .upcoming {
      text-align: center;
    }

    @media only screen and (max-width: $small-device) {
      h1 {
        text-align: left;
        color: $c4 !important;
      }

      .upcoming {
        text-align: left;
      }
    }
  }
}

.simpleVaccineTreatmentTracker {
  background-color: $gs0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  min-height: 120px;
  max-width: 420px;

  .icon {
    width: 80px;
    background-color: $c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infoSection {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 85%;

    .type {
      color: $c4;
      font-weight: 800;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .infoNumber {
      width: 100%;
      justify-content: space-between;
      display: flex;

      .count:not(:first-child) {
        margin-left: 30px;
      }

      .count {
        .number {
          font-size: 36px;
          font-weight: 600;
          line-height: 1;
          color: $c0;
          min-height: 36px;
        }

        span {
          color: $c8;
        }

        .countlabel {
          color: $c4;
          font-size: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: $small-device) {
    .infoSection {
      margin-left: 15px;

      .infoNumber {
        .count:not(:first-child) {
          margin-left: 20px;
        }

        .count {
          .countlabel {
            font-size: 8px;
          }
        }
      }
    }
  }
}

.pagenotfound {
  h1 {
    margin-top: 40px;
  }

  .pagenotfoundImage {
    display: unset;
    margin-top: 50px;
  }

  .pagenotfoundButton {
    margin: 50px 0;
  }

  @media only screen and (max-width: $small-device) {
    h1 {
      margin-top: 100px;
    }

    .pagenotfoundImage {
      margin-top: 50px;
    }

    .pagenotfoundButton {
      margin: 50px 0;
    }
  }
}

.covidVaccineStagesAndPhases {
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4) !important;
    border: 0.3em solid $c0;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff !important;
    border-radius: 10px;
  }

  display: flex;
  overflow-x: auto;

  .stageTitle {
    margin-top: 20px;
  }

  .stageNumber {
    margin-top: 10px;
  }

  .stages {
    margin-bottom: 20px;
    padding: 30px 20px;
    background-color: $c12;
    border-radius: 10px;
    transition: all 0.5s ease;
    min-width: 190px;

    &:hover {
      background: $c2;
    }
  }

  .stages:not(:first-child) {
    margin-left: 10px;
  }

  .stage1,
  .stage2,
  .stage4,
  .stage5 {
    flex: 1;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
      }
    }

    .totalStageCount {
      h2 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
    }
  }

  .stage3 {
    flex: 2;
    min-width: 310px;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
      }
    }

    .totalStageCount {
      display: flex;

      h2 {
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .phases {
        margin-right: 25px;
      }
    }
  }

  .stage1 {
    .icon {
      background-color: $c5;
    }
  }

  .stage2 {
    .icon {
      background-color: $c4;
    }
  }

  .stage3 {
    .icon {
      background-color: $c13;
    }

    .progressBar {
      margin-top: 19px;
    }
  }

  .stage4 {
    .icon {
      background-color: $c7;
    }
  }

  .stage5 {
    .icon {
      background-color: $c14;
    }
  }

  .progressCount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .indicatorPara {
      flex: 1;
      margin-left: 5px;
    }
  }

  .progressBar {
    margin-top: 45px;
  }

  .successIndicator {
    max-width: 5px;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: $sSuccess;
    flex: 1;
  }

  .ongoingIndicator {
    max-width: 5px;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: $sWarning;
    flex: 1;
  }

  @media only screen and (max-width: $small-device) {
    .stages {
      min-width: 190px;
    }

    .stage3 {
      min-width: 310px !important;
    }

    &.covidVaccineStagesAndPhases {
      overflow-x: auto;
    }
  }
}

.mainFooter {
  margin-bottom: 40px;

  .socialMediaIconsSection {
    display: flex;

    .followUS {
      margin-right: 10px;
      margin-top: 8px;
    }

    .socialMediaIcons {
      width: 40px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  .allthelinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 33px;
  }

  ul {
    padding: 0;

    li {
      display: inline;

      a {
        color: $c7;
        font-size: 12px;
      }
    }

    li:not(:first-child) {
      margin-left: 20px;
    }
  }

  .paragraph {
    color: $c4;
  }

  @media only screen and (max-width: $small-device) {
    ul {
      text-align: center;
      margin-top: 10px;

      li {
        display: inline-block;
      }
    }

    .socialMediaIconsSection {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .followUS {
        display: none;
      }
    }

    .allthelinks {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.developersDetailedStages {
  margin-bottom: 40px;
  margin-top: 40px;

  .devlopersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search {
    input {
      background: $c1 !important;
      width: 300px;
      border: 1px solid $c4 !important;
      color: $c4 !important;

      ::placeholder {
        color: red;
        opacity: 1;
      }
    }

    .icon {
      color: $c4;
    }
  }

  h1 {
    margin-bottom: 20px !important;
  }

  .stage3Bifercation {
    display: flex;

    .stage3 {
      background-color: $c13;
    }
  }

  //.mainOrganisationBox {
  //  min-height: 60px;
  //  padding: 40px;
  //  border-radius: 10px;
  //  background: $c12;
  //  transition: all 0.5s ease;
  //  margin-bottom: 10px;
  //
  //  &:hover {
  //    background-color: $c2;
  //  }
  //
  //  h4 {
  //    font-weight: 500;
  //  }
  //
  //  .currentStageGraph {
  //    display: flex;
  //    align-items: center;
  //    margin-top: 10px;
  //
  //    .stage,
  //    .phase {
  //      flex: 1;
  //      height: 12px;
  //      border-radius: 10px;
  //      opacity: 0.2;
  //
  //      &:not(:first-child) {
  //        margin-left: 5px;
  //      }
  //
  //      &.highlight {
  //        opacity: 1;
  //      }
  //    }
  //
  //    .stage {
  //      &.s1 {
  //        background-color: $c5;
  //      }
  //
  //      &.s2 {
  //        background-color: $c4;
  //      }
  //
  //      &.s3 {
  //        display: flex;
  //        align-items: center;
  //
  //        .phase {
  //          background-color: $c13;
  //        }
  //      }
  //
  //      &.s4 {
  //        background-color: $c7;
  //      }
  //
  //      &.s5 {
  //        background-color: $c14;
  //      }
  //    }
  //  }
  //
  //  .currentStageText {
  //    display: flex;
  //
  //    p {
  //      flex: 1;
  //      font-weight: 400;
  //      margin-top: 10px;
  //    }
  //
  //    .stageNumber {
  //      text-align: right;
  //    }
  //  }
  //
  //  .companyName {
  //    margin: 4px 0 0 0;
  //  }
  //
  //  .companyLabel {
  //    margin-top: 5px;
  //  }
  //
  //  .companyInfoLabel {
  //    padding: 0px;
  //  }
  //
  //  .vaccineDesc {
  //    color: #fff;
  //    margin-top: 30px;
  //  }
  //
  //  .vaccineDesc p {
  //    margin-bottom: 10px;
  //  }
  //
  //  .icon {
  //    height: 50px;
  //    border-radius: 6px;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //
  //    &.s1 {
  //      background-color: $c5;
  //    }
  //
  //    &.s2 {
  //      background-color: $c4;
  //    }
  //
  //    &.s3 {
  //      background-color: $c13;
  //    }
  //
  //    &.s4 {
  //      background-color: $c7;
  //    }
  //
  //    &.s5 {
  //      background-color: $c13;
  //    }
  //  }
  //}
  //
  //@media only screen and (max-width: $small-device) {
  //  .mainOrganisationBox {
  //    padding: 20px;
  //
  //    .currentStageGraph {
  //      margin-top: 20px;
  //    }
  //
  //    h4 {
  //      font-size: 14px;
  //      font-weight: 300;
  //    }
  //
  //    .companyInfoLabel {
  //      padding: 0 15px;
  //    }
  //  }
  //  .devlopersHeader {
  //    display: block;
  //    margin-bottom: 20px;
  //  }
  //  .search {
  //    width: 100%;
  //
  //    .input {
  //      width: 100%;
  //    }
  //  }
  //}
}

.top10Vaccines {
  .gs0Para {
    margin-top: 20px;
    font-size: 16px;
  }

  @media only screen and (max-width: $small-device) {
    .gs0Para {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

//*******************************
// Components Ends Here
//*******************************

.vaccine-stages-row {
  display: flex;
  margin: 0;

  .col:nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }

  .col {
    // flex-grow: 1;
    width: 50%;
  }

  .vaccine-stages-heading {
    font-size: 3rem !important;
    @media only screen and (max-width: $small-device) {
      font-size: 1.6rem !important;
    }
  }

  @media only screen and (max-width: $small-device) {
    .vaccineIllustration {
      display: none !important;
    }
  }
}

.vaccine-stages {
  color: $c5;

  .stages {
    &:hover {
      background: $c12;
    }

    &:nth-child(2) {
      flex: 5 1;
    }
  }

  .stage3 {
    flex: 1 1 !important;
  }

  p {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }

  @media only screen and (max-width: $small-device - 1) {
    width: 100%;
    flex-wrap: wrap;
    .vaccine-container {
      margin-left: 0 !important;
      margin-top: 20px;
    }
  }
}

.developers-container {
  overflow-y: hidden;
  margin-top: 20px;
  overflow-x: hidden;

  @media only screen and (min-width: $small-device) {
    max-height: 250px;
    overflow-y: auto;
  }

  .icon.s3 {
    background: $c13;
  }

  .mainOrganisationBox {
    padding: 10px 0;

    .row {
      margin: 0;
    }
  }
}

@media only screen and (max-width: $small-device) {
  .stages {
    min-width: 200px;
  }

  .vaccine-container {
    min-width: 310px !important;
  }
}

.stage3Bifercation {
  display: flex;

  .stage3 {
    background-color: $c13;
  }
}

.mainOrganisationBox {
  min-height: 60px;
  padding: 40px;
  border-radius: 10px;
  background: $c12;
  transition: all 0.5s ease;
  margin-bottom: 10px;

  &:hover {
    background-color: $c2;
  }

  h4 {
    font-weight: 500;
  }

  .currentStageGraph {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .stage,
    .phase {
      flex: 1;
      height: 12px;
      border-radius: 10px;
      opacity: 0.2;

      &:not(:first-child) {
        margin-left: 5px;
      }

      &.highlight {
        opacity: 1;
      }
    }

    .stage {
      &.s1 {
        background-color: $c5;
      }

      &.s2 {
        background-color: $c4;
      }

      &.s3 {
        display: flex;
        align-items: center;

        .phase {
          background-color: $c13;
        }
      }

      &.s4 {
        background-color: $c7;
      }

      &.s5 {
        background-color: $c14;
      }
    }
  }

  .currentStageText {
    display: flex;

    p {
      flex: 1;
      font-weight: 400;
      margin-top: 10px;
    }

    .stageNumber {
      text-align: right;
    }
  }

  .companyName {
    margin: 4px 0 0;
  }

  .companyLabel {
    margin-top: 5px;
  }

  .companyInfoLabel {
    padding: 0;
  }

  .vaccineDesc {
    color: #fff;
    margin-top: 30px;
  }

  .vaccineDesc p {
    margin-bottom: 10px;
  }

  .icon {
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.s1 {
      background-color: $c5;
    }

    &.s2 {
      background-color: $c4;
    }

    &.s3 {
      background-color: $c13;
    }

    &.s4 {
      background-color: $c7;
    }

    &.s5 {
      background-color: $c13;
    }
  }
}

.mainStageNumbers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 20px;

  li:not(:last-child) {
    margin-right: 5px;
  }
  li {
    border: 1px solid $c4;
    padding: 5px 6px;
    color: $c4;
    border-radius: 4px;
    margin-bottom: 10px;
    a {
      color: $c4;
    }
    &:hover {
      background: $c4;
      color: $c12;
      a {
        color: $c12;
      }
    }
    &.active {
      background: $c4;
      color: $c12;
      a {
        color: $c12;
      }
    }
  }
}

.ourSuperheros {
  .mainHeading {
    font-size: 60px;
    color: $gs0;
    width: 300px;
    font-weight: 800;
    line-height: 0.9;
    margin-top: 50px;
    margin-bottom: 28px;
    @media only screen and (max-width: $small-device) {
      & {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 18px;
      }
    }
  }
  .subHeading {
    font-size: 20px;
    color: $gs0;
    width: 300px;
    font-weight: 800;
    line-height: 0.9;
    margin-top: 0;
    margin-bottom: 80px;
    @media only screen and (max-width: $small-device) {
      & {
        font-size: 16px;
        margin-bottom: 48px;
      }
    }
  }
  .superHeroes {
    margin-bottom: 60px;
    .contributerCard {
      margin-bottom: 80px;
      @media only screen and (max-width: $small-device) {
        & {
          margin-bottom: 40px;
        }
      }
      .name {
        font-size: 28px;
        color: $c5;
        font-weight: 800;
        margin-bottom: 4px;
        white-space: nowrap;
        @media only screen and (max-width: $small-device) {
          & {
            font-size: 16px;
          }
        }
      }
      .designation {
        font-size: 1.3em;
        color: $gs0;
        font-weight: 300;
        margin-top: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media only screen and (max-width: $small-device) {
          & {
            font-size: 12px;
          }
        }
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .contributer-portfolio {
        padding: 0;
        display: flex;
        height: 24px;
        li {
          margin-right: 5px;
          list-style-type: none;
        }
      }
    }
  }
}
