@import "~bootstrap/dist/css/bootstrap.min.css";

// *************************************************
// ************Common Properties Starts*************
// *************************************************

// Color Variables
$c0 : #040932;
$c1 : #040A3D;
$c2 : #061058;
$c3 : #0A0769;
$c4 : #7C77BA;
$c5 : #FEB9D3;
$c6 : #FAEBE7;
$c7 : #77CAEC;
$c8 : #5E8CE9;
$c9 : #783BFD;
$c10 : #5E36F7;
$c11 : #3830EF;

// Status Colors
$sWarning : #FFD84D;
$sDanger : #ffd84d;
$sSuccess : #ffd84d;
$sInfo : #ffd84d;

// Greyscales
$gs0 : #FFFFFF;

// Text Styles
.largeHeading{
  font-size: 60px;
  font-weight: 800;
  color: $gs0;
}

.paragraph{
  font-size: 12px;
  color: $gs0;
}

// Body reset

body{
  padding: 0;
  margin: 0;
  background-color: $c0;
}

// *************************************************
// ************Common Properties Ends***************
// *************************************************


.mainHeader{
  margin-top: 20px;
  .virusMainStatus{
    ul{
      display: flex;
      margin-bottom: 0px;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;
      li{
        list-style-type: none;
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .virusType{
      border-radius: 20px;
      color: #040932;
      background-color: #FEB9D3;
      padding: 4px 15px;
      font-weight: 800;
    }
    .overallStatus{
      width: 20px;
      height: 20px;
      border-radius: 50px;
    }
    .vaccineStatus{
      background: $sWarning;
    }
    .treatmentStatus{
      background: $sWarning;
    }
  }
}

.homePage{
  .firstFold{
    margin-top: 30px;
    h1{
      text-align: center;
      margin-top: 100px;
    }
    .mainSimpleTracker{
      margin-top: 60px;
      .simpleVaccineTracker{
        background-color: $gs0;
        padding: 20px;
        border-radius: 10px;
      }
      .simpleTreatmentTracker{
        background-color: $gs0;
        padding: 20px;
        border-radius: 10px;
      }
    }
    .upcoming{
      text-align: center;
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
    }
  }
}